In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

# Import the datasets

In [2]:
df = pd.read_csv('./housing.csv', header=None, delimiter='\\s+')
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df.columns = column_names
print(df.shape)
df.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

# split the train ans test datasets

In [3]:
X = df.drop('MEDV', axis=1)
Y = df['MEDV']
print(X.shape, Y.shape, end=' ')

x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, random_state=42)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

(506, 13) (506,)

((404, 13), (102, 13), (404,), (102,))

In [4]:
scalar = StandardScaler()
x_train = scalar.fit_transform(x_train)
x_test = scalar.fit_transform(x_test)

In [7]:
models = {
    "lr": LinearRegression(),
    "svm":SVR()
}

In [12]:
results = {}

for name, model in models.items():

    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)


    rmse = np.sqrt(mean_squared_error(y_true=y_test, y_pred=y_pred))
    mae = mean_absolute_error(y_true=y_test, y_pred=y_pred)

    results[name] = (rmse, mae)